<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SmartFxJournal.Configuration.Journal.DbConnection"
            connectionString="Dsn=JournalDB;database=JournalDB;server=localhost;port=5432;uid=postgres;pwd=postgres;sslmode=disable;" />
    </connectionStrings>
</configuration>